<div class="container mt-5">
    <h2>List of Users</h2>
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Date Of Birth</th>
            <th>Designation</th>
            <th>Skill</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.Name}}</td>
                <td>{{user.DOB | date}}</td>
                <td>{{user.Designation}}</td>
                <td>{{user.Skill}}</td>
                <td><a [routerLink]="['user/edit', user.UserId]">Edit</a> | <a [routerLink]="['user/delete', user.UserId]">Delete</a></td>
            </tr>
        </tbody>
    </table>
</div>



